@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    .input-group {
        @apply flex flex-col border border-black border-b-0  overflow-hidden focus-within:bg-gray-50;
    }
    .input-label {
        @apply pt-3 px-6 text-sm text-black/60   font-semibold;
    }
    .input-field {
        @apply border-0 px-6 pb-3 pt-1 bg-transparent outline-none focus:ring-0 focus:ring-offset-0 font-semibold placeholder:font-normal placeholder:text-sm placeholder:italic;
    }
}
